<%- include("header") -%>


<div class="box" id="heading">
  <h1>Please add a valid item.</h1>

</div>
  <!-- <button type="button" name="button" <a href="/"></a>>Home page</button> -->
  <!-- <div class="alert">
  <button class="btn btn-primary"><a href="#"></a>Home page</button>
</div> -->

   <button class="backhome"><a class ="home" href="/">Back to home page</a></button>

<%- include("footer") -%>
